<div class="writing-container">
  <h1>Un-Dominican</h1>
  <h4>June 28, 2015</h4>
  <section>
    <p><em>Ai! I've decided to start sharing more, so follow me on <a href="https://twitter.com/jamilabreu " target="_blank">Twitter</a>, stalk me on <a href="https://instagram.com/jamilabreu/ " target="_blank">IG</a>, send me an <a href="mailto:abreu.jamil%40gmail.com?subject=Ai!">email</a> and/or subscribe to my newsletter. I promise to not be boring:</em></p>

    <!-- Begin MailChimp Signup Form -->

    <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"><style type="text/css">    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }</style><div id="mc_embed_signup" style="background: whiteSmoke; border-radius: 4px; margin: 0 auto 20px; padding: 15px 20px 0;"><form action="//dominicanstudentconference.us6.list-manage.com/subscribe/post?u=2de39c62b478e86b04f1ab42b&amp;id=6e9bf7c4ba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate=""><div id="mc_embed_signup_scroll"><div class="mc-field-group" style="padding-bottom: 0;"> <input type="email" value="" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL" style="border-radius: 3px; outline: none;"></div><div id="mce-responses" class="clear">     <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>
  </div><div style="position: absolute; left: -5000px;"><input type="text" name="b_2de39c62b478e86b04f1ab42b_6e9bf7c4ba" tabindex="-1" value=""></div><div class="clear" style="text-align: center;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="outline: none;"></div></div></form></div>
  <!--End mc_embed_signup-->

  <p><em>Whether you agree or disagree - I want to hear what you think. First, a few TLDRs:</em></p>

  <p><strong>Pro-Sentencia Crowd:</strong> Denationalization is not something to be taken lightly. Yes, all governments should enforce their laws - but I'm not sure you fully understand how ridiculously messed up this is. Being denationalized is more than just a slight inconvenience, or a simple matter of signing a few papers. It's a violation of international human rights law - which are basic guidelines for how to not be evil. Don't be evil. Be good.</p>

  <p><strong>Activists:</strong> Look, no one likes being accused of racism. Even if our culture does have deeply ingrained racial prejudices, even if the Sentencia does have racial ramifications - I don't believe people on the ground in DR (including politicians) live their daily lives in an overtly racist way <em>for the most part</em>. Again, I said <em>for the most part</em>. Is the Sentencia racist? Yes. Was it 100% racially motivated? I don't think so. I get the sense that its combination of political short-sightedness, staunch nationalism, and prejudice against Haitians.</p>

  <p>If you know me, you may know I'm not a fan of anyone who is 100% convinced they're right about anything. I can be persuaded to change my mind about pretty much any topic - given a sound, logically constructed argument. </p>

  <p><img src="/assets/images/un-dominican/spock.jpg"></p>

  <p>What intrigues me most about this debate in particular is that <em>both</em> sides present some perfectly sound, logical arguments. Check out this video by minusp of ThatsDominican.com:</p>

  <div class="fluid-width-video-wrapper"><iframe src="https://www.youtube.com/embed/7Cg4ULem6oE" frameborder="0" allowfullscreen="" id="fitvid68875"></iframe></div>

  <p>He makes some really good points! He's understandably concerned (as we all should be) with Dominicans being labeled as racist. His main points are:</p>

  <ul>
    <li>164 of 190 countries in the world have to the same nationality laws</li>
    <li>DR is poor and can't afford to support non-taxpayers</li>
    <li>DR violence is <em>mostly</em> Domincian-on-Dominican, not against Haitians</li>
    <li>The U.S. is one of the most racist countries of all! Don't throw stones.</li>
  </ul>

  <p>These are all reasonable, but I would ask him one thing: Of those 164 countries, how many are <em>denationalizing current citizens</em>? I'm not sure minusp realizes that denationalization is an <em>amazingly serious</em> thing. </p>

  <p>How many of us have taken the time to really think about our birth certificate and its social significance? I know I haven't - I barely remember what mine looks like - but many international lawmakers have.</p>

  <p>This is why the <a href="http://www.un.org/en/documents/udhr/ " target="_blank">Universal Declaration of Human Rights</a> exists. It was created in response to the Nazis during World War II to establish the birthrights and privileges that all individuals should be afforded as global citizens. The UDHR has been around for 67 years, and is a cornerstone of human rights law. And what does it say about citizenship and nationality?</p>

  <p><strong>Article 15:</strong></p>

  <ul>
    <li>Everyone has the right to a nationality</li>
    <li>No one shall be arbitrarily deprived of his nationality nor denied the right to change his nationality</li>
  </ul>

  <p><strong>Article 11:</strong></p>

  <ul>
    <li>No one shall be held guilty of any penal offence on account of any act or omission which did not constitute a penal offence, under national or international law, at the time when it was committed. Nor shall a heavier penalty be imposed than the one that was applicable at the time the penal offence was committed.</li>
  </ul>

  <p>So any time someone finds themselves stateless as a result of government action, it's a human rights violation. Punto. The fight against statelessness is supported by <em>all UN nations</em> under the <a href="http://www.unhcr.org/3bbb286d8.html " target="_blank">Convention on the Reduction of Statelessness</a>, including (<a href="https://treaties.un.org/pages/ViewDetails.aspx?src=TREATY&amp;mtdsg_no=V-4&amp;chapter=5&amp;lang=en " target="_blank">surprise!</a>) the Dominican Republic.</p>

  <p>No matter how you slice it, there's no excuse for any government to say: "Oops, we didn't mean to grant you citizenship! I'll just go ahead and take back that little piece of paper - you back to where your Grandparents came from, it'll be fine!"</p>

  <p>International law is basically a bunch of common sense rules that everyone agrees every country should follow, but no one is under any obligation to actually follow them. It's actually typical to see countries ignore certain international laws based on their individual agendas. And that's fine.</p>

  <p>In this case though? In this case I think it'd be a good idea to follow it - much like it'd be a good idea to not engage in mass genocide or legalize slavery. Both of these are things a government can choose to impose on its people, but no one needs to convince you they're bad. <em>You just know</em>. </p>

  <p>Try and think of denationalization in the same way. </p>

  <p>Does the U.S. adhere to every international law out there? Hell no. But for the most part it respects basic human rights. Again, I said <em>for the most part</em>.</p>

  <p>Your focus is misplaced if you're trying to convince people that you aren't racist. You're a supporter of an assault on a fellow human's rights - you should be trying your hardest to convince people that you aren't a heartless, mediocre human being. </p>

  <p>I'm not saying DR should open its borders, or that no one should ever be deported. What I'm saying is that these are issues to be addressed <em>moving forward</em>. What's done is done - no takesies backsies.</p>

  <p><img src="http://cdn.meme.am/instances/500x/54998805.jpg"></p>

  <p>If the government wants to start enforcing a law now that they were too disorganized to enforce the first time around, AWESOME. We need as many laws enforced as possible. But the entire world agrees that no one deserves to be punished retroactively.</p>

  <p>Providing a "path to citizenship" is an answer, but not the correct one. The right answer is you just don't rescind citizenship in the first place.</p>

  <p>At best, attempting to fix things retroactively paints you as rude and incompetent to the entire world. At worst it makes you seem racist and medieval - whether or not you actually are is irrelevant. </p>

  <p>Neither of these is good for any of us. </p>

  <p>You can't undo Dominican.</p>

  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"><style type="text/css">    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }</style><div id="mc_embed_signup" style="background: whiteSmoke; border-radius: 4px; margin: 0 auto 20px; padding: 15px 20px 0;"><form action="//dominicanstudentconference.us6.list-manage.com/subscribe/post?u=2de39c62b478e86b04f1ab42b&amp;id=6e9bf7c4ba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate=""><div id="mc_embed_signup_scroll"><div class="mc-field-group" style="padding-bottom: 0;"> <input type="email" value="" placeholder="Email address" name="EMAIL" class="required email" id="mce-EMAIL" style="border-radius: 3px; outline: none;"></div><div id="mce-responses" class="clear">     <div class="response" id="mce-error-response" style="display:none"></div>       <div class="response" id="mce-success-response" style="display:none"></div>
</div><div style="position: absolute; left: -5000px;"><input type="text" name="b_2de39c62b478e86b04f1ab42b_6e9bf7c4ba" tabindex="-1" value=""></div><div class="clear" style="text-align: center;"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="outline: none;"></div></div></form></div>
<!--End mc_embed_signup-->

<p>*News from around the community:</p>

<p><a href="http://www.princeton.edu/main/news/archive/S43/41/31S15/index.xml?section=topstories " target="_blank">Dan-el Padilla Peralta Joins Faculty at Princeton University</a></p>

<p><a href="http://www.pedrocabiya.com/2015/06/on-the-myopic-self-righteousness-of-firstworlders-and-firstworlder-wannabes-open-letter-to-junot-diaz-and-edwige-danticat/ " target="_blank">ON THE MYOPIC SELF-RIGHTEOUSNESS OF FIRSTWORLDERS AND FIRSTWORLDER WANNABES: OPEN LETTER TO JUNOT DÍAZ AND EDWIGE DANTICAT</a></p>

<p><a href="https://www.youtube.com/watch?v=LLRSlJ0UXC0 " target="_blank">Junot Diaz at Dominican Haitian Crisis: Beyond the Surface [Video]</a></p>

<p><a href="http://acento.com.do/2015/politica/8261919-junot-diaz-fue-tergiversado-no-pidio-boicot-ni-hablo-de-campos-de-concentracion/ " target="_blank">Junot Díaz fue tergiversado: No pidió boicot ni habló de campos de concentración</a></p>
</section>
</div>